.app-header {
    padding-block-end: 1.5em;
    border-block-end: 1px solid #dedede;

    .app-header-inner-container {
        .header-search-bar-container {

            .search-bars {
                .search-form-nav-container {
                    text-align: center;

                    button {
                        border: none;
                        background: inherit;
                        margin: 1em;
                        color: $clr2;
                        font-family: Circular-Light, sans-serif;

                        &:hover {
                            color: $clr7;
                            text-decoration: underline;
                        }
                    }
                }

                .search-form-menu-container {
                    border: 1px solid #dedede;
                    border-radius: 555px;
                    cursor: pointer;
                    height: 66px;
                    max-width: max-content;
                    position: relative;
                    text-align: left;
                    display: flex;
                    align-items: center;

                    .search-form-menu-btn-container {
                        display: flex;
                        align-items: center;
                        height: 100%;

                        .filter-header-section {
                            display: flex;
                            align-items: center;
                            height: 100%;

                            >* {
                                padding-inline: 1.5em;
                                height: 100%;

                                &:hover {
                                    background-color: $clr5;
                                    border-radius: 555px;
                                }
                            }

                            .search-label-header {
                                display: flex;
                                flex-direction: column;

                                label {
                                    font-size: em(14px);
                                }

                                input {
                                    font-size: em(15px);
                                    color: $clr7;
                                    background: none;
                                    border: 0;
                                    margin: 0;
                                    padding: 0;
                                    outline: 0;

                                }
                            }

                            .checkin-add-dates-container {

                                .checkin-add-dates {

                                    span:nth-child(1) {
                                        font-size: em(14px);
                                    }

                                    span:nth-child(2) {
                                        font-family: Circular-Light, sans-serif;
                                        font-size: em(15px);
                                        color: $clr7;
                                    }
                                }
                            }

                            .checkout-add-dates-container {
                                .checkout-add-dates {
                                    span:nth-child(1) {
                                        font-size: em(14px);
                                    }

                                    span:nth-child(2) {
                                        font-family: Circular-Light, sans-serif;
                                        font-size: em(15px);
                                        color: $clr7;
                                    }
                                }
                            }

                            .add-guests-search-container {
                                button {
                                    border-radius: 555px;
                                    margin-inline-start: 2em;
                                }

                                .add-guests {
                                    span:nth-child(1) {
                                        font-size: em(14px);
                                    }

                                    span:nth-child(2) {
                                        font-family: Circular-Light, sans-serif;
                                        font-size: em(15px);
                                        color: $clr7;
                                    }


                                }
                            }
                        }

                    }
                }
            }
        }
    }


    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        padding-left: 100px;
        color: $clr1;

        .score {
            background-color: $clr2;
            color: $clr6;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .user-info .btn-link {
        color: $clr2;
    }

    nav {
        font-size: .8em;
        background-color: $clr5;
        padding: 5px;

    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

    .search-form-menu .active {
        background-color: #fff;
        box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
    }

    .search-form-menu-container {


        .search-form-menu-btn-container {


            .calendar-picker-header {
                background-color: #ffffff;
                position: absolute;
                border-radius: 15px;
                padding: 1em;
                left: 0;
                top: 5em;
                z-index: 1;
            }

            .add-guests-cmp-header {
                background-color: #ffffff;
                position: absolute;
                border-radius: 15px;
                padding: 2em;
                right: 0;
                top: 5em;
                z-index: 1;
                width: 23em;
                height: 23em;
            }
        }
    }
}