.app-header {
    padding-block-end: 1.5em;
    border-block-end: 1px solid #dedede;

    .app-header-inner-container {
        .header-search-bar-container {
            .search-preview {
                -webkit-padding-start: 8px;
                align-items: center;
                background-color: #fff;
                border: 1px solid #dedede;
                border-radius: 40px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, .078), 0 4px 12px rgba(0, 0, 0, .051);
                color: #212121;
                cursor: pointer;
                display: inline-flex;
                min-width: 348px;
                padding-inline-start: 8px;
                transition: box-shadow .2s ease;
                transition: opacity .2s ease .1s, visibility 0ms .2s, -webkit-transform .25s ease;
                transition: transform .25s ease, opacity .2s ease .1s, visibility 0ms .2s;
                transition: transform .25s ease, opacity .2s ease .1s, visibility 0ms .2s, -webkit-transform .25s ease;
                vertical-align: middle;
                white-space: nowrap;
            }

            .search-preview:hover {
                box-shadow: 0 2px 4px rgba(0, 0, 0, .18);
            }

            .search-preview button {
                background-color: inherit;
                color: #212121;
            }


            .search-preview-close {
                transform: translateY(-100%);
                opacity: 0;
                visibility: hidden;
                height: 0;
                transition: transform .25s ease, opacity .1s ease, visibility 0ms, -webkit-transform .25s ease;
            }

            .search-bars {
                margin: 0 auto;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                -webkit-transform: scale(.35, .7272727273) translateY(0);
                transform: scale(.35, .7272727273) translateY(0);
                -webkit-transform-origin: 50% 0;
                transform-origin: 50% 0;
                transition: opacity .2s ease .1s, visibility 0ms .2s, -webkit-transform .25s ease;
                transition: transform .25s ease, opacity .2s ease .1s, visibility 0ms .2s;
                transition: transform .25s ease, opacity .2s ease .1s, visibility 0ms .2s, -webkit-transform .25s ease;
                visibility: hidden;
                width: 100%;
                will-change: transform, opacity, visibility;

                background-color: #ffffff;
                z-index: 1;

            }

            .search-bars-open {
                transition: transform 0.3s ease;
                opacity: 1;
                -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
                transition: opacity .2s ease .1s, visibility 0ms .2s, -webkit-transform .25s ease;
                transition: transform .25s ease, opacity .2s ease .1s, visibility 0ms .2s;
                transition: transform .25s ease, opacity .2s ease .1s, visibility 0ms .2s, -webkit-transform .25s ease;
                visibility: visible;

                ////
                position: relative;
                display: flex;
                flex-direction: column;
                left: 0;
            }

            // .search-bars {
            //     // display: none;
            //     transform: translateY(-100%);
            //     height: 0;
            //     opacity: 0;
            // }

            // .search-bars-open {
            //     // display: block;
            //     opacity: 100;
            //     background-color: #dedede;
            //     transition: transform 0.3s ease;
            //     height: 16em;
            //     position: relative;

            // }

            .search-bars {
                .search-form-nav-container {
                    text-align: center;

                    button {
                        border: none;
                        background: inherit;
                        margin: 1em;
                        color: $clr2;
                        font-family: Circular-Light, sans-serif;

                        &:hover {
                            color: $clr7;
                            text-decoration: underline;
                        }
                    }
                }

                .search-form-menu-container {
                    border: 1px solid #dedede;
                    border-radius: 555px;
                    cursor: pointer;
                    height: 66px;
                    max-width: max-content;
                    position: relative;
                    text-align: left;
                    display: flex;
                    align-items: center;

                    .search-form-menu-btn-container {
                        display: flex;
                        align-items: center;
                        height: 100%;

                        .filter-header-section {
                            display: flex;
                            align-items: center;
                            height: 100%;

                            >* {
                                padding-inline: 1.5em;
                                height: 100%;

                                &:hover {
                                    background-color: $clr5;
                                    border-radius: 555px;
                                }
                            }

                            .search-label-header {
                                display: flex;
                                flex-direction: column;

                                label {
                                    font-size: em(14px);
                                }

                                input {
                                    font-size: em(15px);
                                    color: $clr7;
                                    background: none;
                                    border: 0;
                                    margin: 0;
                                    padding: 0;
                                    outline: 0;

                                }
                            }

                            .checkin-add-dates-container {

                                .checkin-add-dates {

                                    span:nth-child(1) {
                                        font-size: em(14px);
                                    }

                                    span:nth-child(2) {
                                        font-family: Circular-Light, sans-serif;
                                        font-size: em(15px);
                                        color: $clr7;
                                    }
                                }
                            }

                            .checkout-add-dates-container {
                                .checkout-add-dates {
                                    span:nth-child(1) {
                                        font-size: em(14px);
                                    }

                                    span:nth-child(2) {
                                        font-family: Circular-Light, sans-serif;
                                        font-size: em(15px);
                                        color: $clr7;
                                    }
                                }
                            }

                            .add-guests-search-container {
                                button {
                                    border-radius: 555px;
                                    margin-inline-start: 2em;
                                }

                                .add-guests {
                                    span:nth-child(1) {
                                        font-size: em(14px);
                                    }

                                    span:nth-child(2) {
                                        font-family: Circular-Light, sans-serif;
                                        font-size: em(15px);
                                        color: $clr7;
                                    }


                                }
                            }
                        }

                    }
                }
            }
        }
    }


    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        padding-left: 100px;
        color: $clr1;

        .score {
            background-color: $clr2;
            color: $clr6;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .user-info .btn-link {
        color: $clr2;
    }

    nav {
        font-size: .8em;
        background-color: $clr5;
        padding: 5px;

    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

    .search-form-menu .active {
        background-color: #fff;
        box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
    }

    .search-form-menu-container {


        .search-form-menu-btn-container {


            .calendar-picker-header {
                background-color: #ffffff;
                position: absolute;
                border-radius: 15px;
                padding: 1em;
                left: 0;
                top: 5em;
                z-index: 1;
            }

            .add-guests-cmp-header {
                background-color: #ffffff;
                position: absolute;
                border-radius: 15px;
                padding: 2em;
                right: 0;
                top: 5em;
                z-index: 1;
                width: 23em;
                height: 23em;
            }
        }
    }
}