.app-header {
    padding-block: 1em;
    border-block-end: 1px solid #dedede;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 50;
    background-color: white;

    .login-signup-btn-container {
        position: relative;

        .inner-login-signup-btn-container {
            display: flex;
            align-items: center;
            background-color: #fff;
            border: 1px solid #dedede;
            border-radius: 555px;
            padding: 0.3em 0.3em 0.3em 0.7em;
            transition: all 0.2s ease;
            cursor: pointer;
            position: relative;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
            }
        }

        img {
            border-radius: 50%;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        text-align: left;
        position: absolute;
        right: 0;
        top: 3.5em;
        width: max-content;
        height: max-content;
        border-radius: 1em;
        background-color: #fff;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 8px 16px rgba(0, 0, 0, .15);
        cursor: default;
        z-index: 10;


        .login-signup-container {


            .user-info {
                .user-info-content-container {
                    padding: 2em;
                    display: flex;
                    flex-direction: column;
                    min-width: 15em;


                    a {
                        font-family: Circular-Light, sans-serif;
                        color: $clr2;
                        text-decoration: none;
                        margin-block: .5em;

                        &.active {
                            text-decoration: none;
                        }
                    }

                    .user-container {
                        display: flex;
                        align-items: center;
                        margin-block-end: 1em;

                        img {
                            margin-inline-end: .8em;
                        }
                    }

                    button {
                        margin-block-start: 1em;
                    }
                }

                .login-page {

                    .signup-section {
                        .signup-form {
                            button {
                                margin-block: 1.5em;
                            }

                            >input {
                                padding-inline: 1em;
                                padding-block: .7em;
                                border-radius: 0.5em;
                                border: none;
                                background-color: $clr5;
                            }

                            .upload-preview {
                                margin-block-start: 1em;

                                label {
                                    font-family: Circular-Light, sans-serif;
                                    color: $clr2;
                                }
                            }
                        }
                    }

                    >* {
                        padding-inline: 1.5em;
                    }

                    .login-signup-container {
                        margin-block-start: 1em;
                        padding-block: .5em;

                        &:hover {
                            background-color: $clr5;
                        }

                        .link {
                            text-decoration: none;
                            padding: 0;
                            font-family: Circular-Light, sans-serif;
                            color: $clr2;

                            &:hover {
                                cursor: pointer;
                            }

                        }
                    }

                    .login-form {
                        padding-block: .2em;
                        margin-block-end: 1em;

                        &:hover {
                            background-color: $clr5;

                            select {
                                background-color: $clr8;
                            }
                        }

                        .btn-login {
                            background-color: transparent;
                            color: $clr2;
                            padding: 0;
                            text-align: left;
                            font-family: Circular-Light, sans-serif;
                        }

                        select {
                            padding-inline: .5em;
                            padding-block: .5em;
                            border-radius: 555px;
                            border: none;
                            background-color: $clr5;
                            font-size: em(12px);
                        }
                    }
                }
            }
        }
    }

    img.acc-svg {
        width: 1.9em;
        margin-inline-start: 0.6em;
    }

    img.menu-svg {
        width: 1.2em;
    }

    .first-search-svg-header {
        padding: 0;
        background-color: #ff385d;
        border-radius: 50%;
        width: em(32px);
        height: em(32px);
        margin-inline-end: em(10px);
        display: flex;
        place-content: center;
        align-items: center;

        img {
            width: 50%;
            height: 50%;
        }
    }

    .second-search-svg-header {
        padding: 0.3em;
    }

    .region-select-container {
        background: #fff;
        border-radius: 32px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 8px 16px rgba(0, 0, 0, .15);
        cursor: default;
        left: 0;
        margin-top: 12px;
        padding: em(45px) em(45px);
        position: absolute;
        top: 62px;
        z-index: 3;

        h4 {
            font-family: Circular-Regular, sans-serif;
            font-size: em(15px);
            margin-block-end: 2em;
        }

        .region-grid {
            margin-block-start: 1.5em;
            grid-column-gap: 5px;
            grid-row-gap: 24px;
            column-gap: 5px;
            display: grid;
            grid-template-columns: repeat(3, min-content);
            row-gap: em(30px);
            column-gap: em(12px);
        }

        img {
            width: 8em;
            border-radius: 14px;
            cursor: pointer;
            border: 1px solid $clr5;
        }

        img:hover {
            border: 1px solid #000;
        }

        p {
            font-family: 'Circular-Light';
            color: #222222;
            font-size: em(15px);
        }

    }

    &-inner-container {
        .main-logo {
            a {
                text-decoration: none;

                h2 {
                    color: $clr1;
                    font-family: Circular-Regular, sans-serif;
                }

                img {
                    margin-inline-end: .5em;
                }
            }
        }

        .add-guests-btn-header {

            span {
                color: $clr7;
                font-family: Circular-Light, sans-serif;
                font-size: em(15px);
            }
        }

        .header-search-bar-container {

            // padding-block-end: 2.5em;

            position: relative;

            .search-preview {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid $clr4;
                border-radius: 555px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, .078), 0 4px 12px rgba(0, 0, 0, .051);
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                height: em(50px);

                button {
                    background-color: inherit;
                    color: $clr2;
                    padding: 0;
                    height: 100%;

                    span {
                        padding-inline: 1em;
                    }
                }

                button:nth-child(1) {
                    span {
                        border-inline-end: 1px solid $clr4;
                        margin-inline-start: .5em;

                        &.details-shown-remove-border {
                            border-inline-end: none;
                        }
                    }
                }

                button:nth-child(2) {
                    span {
                        border-inline-end: 1px solid $clr4;
                    }
                }

                button:nth-child(1) {
                    // margin-inline-start: 1.3em;
                }
            }

            .search-preview:hover {
                box-shadow: 0 2px 4px rgba(0, 0, 0, .18);
            }

            .search-preview-close {
                transform: translateY(-100%);
                opacity: 0;
                visibility: hidden;
                height: 0;
                transition: transform .25s ease, opacity .1s ease, visibility 0ms, -webkit-transform .25s ease;
            }

            .search-bar {
                margin: 0 auto;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                -webkit-transform: scale(.35, .7272727273) translateY(0);
                transform: scale(.35, .7272727273) translateY(0);
                -webkit-transform-origin: 50% 0;
                transform-origin: 50% 0;
                transition: opacity .2s ease .1s, visibility 0ms .2s, -webkit-transform .25s ease;
                transition: transform .25s ease, opacity .2s ease .1s, visibility 0ms .2s;
                transition: transform .25s ease, opacity .2s ease .1s, visibility 0ms .2s, -webkit-transform .25s ease;
                visibility: hidden;
                width: 100%;
                will-change: transform, opacity, visibility;

                background-color: #ffffff;
                z-index: 1;

            }

            .search-bar-open {
                transition: transform 0.3s ease;
                opacity: 1;
                -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
                transition: opacity .2s ease .1s, visibility 0ms .2s, -webkit-transform .25s ease;
                transition: transform .25s ease, opacity .2s ease .1s, visibility 0ms .2s;
                transition: transform .25s ease, opacity .2s ease .1s, visibility 0ms .2s, -webkit-transform .25s ease;
                visibility: visible;

                ////
                position: relative;
                display: flex;
                flex-direction: column;
                left: 0;
            }

            // .search-bar {
            //     // display: none;
            //     transform: translateY(-100%);
            //     height: 0;
            //     opacity: 0;
            // }

            // .search-bar-open {
            //     // display: block;
            //     opacity: 100;
            //     background-color: #dedede;
            //     transition: transform 0.3s ease;
            //     height: 16em;
            //     position: relative;

            // }

            .search-bar {
                .search-form-nav-container {
                    text-align: center;

                    button {
                        border: none;
                        background: inherit;
                        color: $clr2;
                        font-family: Circular-Light, sans-serif;

                        &:hover {
                            color: $clr7;
                            text-decoration: underline;
                        }
                    }
                }

                .search-form-menu-container {
                    border: 1px solid #dedede;
                    border-radius: 555px;
                    cursor: pointer;
                    height: 66px;
                    max-width: max-content;
                    position: relative;
                    text-align: left;
                    display: flex;
                    align-items: center;

                    .search-form-menu-btn-container {
                        display: flex;
                        align-items: center;
                        height: 100%;

                        .filter-header-section {
                            display: flex;
                            align-items: center;
                            height: 100%;

                            >* {
                                padding-inline: 1.5em;
                                height: 100%;

                                &:hover:not(.focused) {
                                    // background-color: $clr5;
                                    background-color: #dddddd;
                                    border-radius: 555px;
                                }

                            }

                            .add-guests-search-main-container {
                                padding-inline: 0;
                                padding-inline-end: .6em;

                                .add-guests-search-container {

                                    padding-inline-start: 2em;

                                    button {
                                        height: 75%;
                                        border-radius: 555px;
                                    }
                                }

                            }

                            .search-label-header {
                                display: flex;
                                flex-direction: column;
                                padding-inline-start: 2em;

                                label {
                                    font-size: em(13px);
                                    letter-spacing: 0.5px;
                                    font-family: Circular-Medium, sans-serif;
                                    margin-block-end: .1em;
                                }

                                input {
                                    font-size: em(15px);
                                    color: $clr7;
                                    background: none;
                                    border: 0;
                                    margin: 0;
                                    padding: 0;
                                    outline: 0;

                                }
                            }

                            .checkin-add-dates-container {

                                .checkin-add-dates {

                                    span:nth-child(1) {
                                        font-size: em(13px);
                                        letter-spacing: 0.5px;
                                        font-family: Circular-Medium, sans-serif;
                                    }

                                    span:nth-child(2) {
                                        font-family: Circular-Light, sans-serif;
                                        font-size: em(15px);
                                        color: $clr7;
                                    }
                                }
                            }

                            .checkout-add-dates-container {
                                .checkout-add-dates {
                                    span:nth-child(1) {
                                        font-size: em(13px);
                                        letter-spacing: 0.5px;
                                        font-family: Circular-Medium, sans-serif;
                                        margin-block-end: 0.1em;
                                    }

                                    span:nth-child(2) {
                                        font-family: Circular-Light, sans-serif;
                                        font-size: em(15px);
                                        color: $clr7;
                                    }
                                }
                            }

                            .add-guests-search-container {
                                height: 100%;

                                button {
                                    border-radius: 555px;
                                    margin-inline-start: 2em;
                                }

                                .add-guests {
                                    span:nth-child(1) {
                                        font-size: em(13px);
                                        letter-spacing: 0.5px;
                                        font-family: Circular-Medium, sans-serif;
                                        margin-block-end: 0.1em;
                                    }

                                    span:nth-child(2) {
                                        font-family: Circular-Light, sans-serif;
                                        font-size: em(15px);
                                        color: $clr7;
                                        width: 5em;
                                    }


                                }
                            }
                        }

                    }
                }
            }
        }
    }

    .filter-search-svg-header {
        background-color: #ff385d;
        border: transparent;
        border-radius: 50%;
        color: #fff;
        height: 32px;
        min-width: 32px;
        padding: 0.3em;
    }

    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        // padding-left: 100px;
        // color: $clr1;

        .score {
            background-color: $clr2;
            color: $clr6;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .user-info .btn-link {
        color: $clr2;
    }

    // nav a:first-child {
    //     margin-right: 30px;
    // }

    // nav a:not(:first-child) {
    //     border-top: 1px solid $clr1;
    //     padding: 0 5px;
    //     margin: 10px;
    // }

    // nav .active {
    //     color: $clr1;
    // }

    .search-form-menu .active {
        background-color: #fff;
        box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
    }

    .search-form-menu-container {


        .search-form-menu-btn-container {


            .calendar-picker-header {
                background-color: #ffffff;
                position: absolute;
                border-radius: 15px;
                padding: 1em;
                width: 100%;
                left: 0;
                top: 4.8em;
                z-index: 10;
                cursor: default;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 8px 16px rgba(0, 0, 0, .15);

                .rdp-months {
                    display: flex;
                    place-content: center;
                    gap: 47px;
                }
            }


            .add-guests-cmp-header {
                background-color: #ffffff;
                position: absolute;
                border-radius: em(30px);
                padding: 2.5em;
                right: 0;
                top: 5em;
                z-index: 1;
                width: 25em;
                height: 25.1em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 8px 16px rgba(0, 0, 0, .15);
                font-family: Circular-Regular, sans-serif;

                .guest-select-row {
                    display: flex;
                    justify-content: space-between;

                    .guest-count-container {
                        display: flex;
                        gap: 0.9em;
                        align-items: center;
                        justify-content: space-between;

                        span {
                            font-family: Circular-Light, sans-serif;
                            font-size: em(15px);
                            width: .5em;
                            color: $clr2;
                        }

                        button {
                            &:hover {
                                color: $clr2;
                                border: 1px solid $clr2;
                            }

                            &.blank {
                                cursor: not-allowed;
                                border: 1px solid $clr5;
                                color: $clr5;
                            }
                        }
                    }

                    p {
                        font-family: Circular-Medium, sans-serif;
                        color: $clr2;
                        font-size: em(17px);
                    }

                    span {
                        display: flex;
                        color: $clr7;
                        font-family: Circular-Light, sans-serif;
                        font-size: em(15px);
                    }

                    button {
                        background-color: inherit;
                        border: 1px solid grey;
                        border-radius: 50%;
                        color: grey;
                        width: 2em;
                        height: 2em;
                    }
                }
            }
        }
    }
}

.relative {
    position: relative;
}