.custom-day-picker {
  .DayPicker-Day--selected:not(.DayPicker-Day--outside) {
    background-color: black;
    color: white;
  }
  
  .DayPicker-Day--selected:not(.DayPicker-Day--outside) + .DayPicker-Day:not(.DayPicker-Day--selected):not(.DayPicker-Day--disabled) {
    background-color: grey;
  }
}