.share-modal-container {
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // height: 78vh;
    min-width: 62vh;
    z-index: 51;
    border-radius: 0.875em;
    padding: 1.5em;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);

    .stay-details {
        font-family: 'Circular-Light';
        font-size: 0.8em;

        .inner-content-details {
            margin-inline-start: 1em;
        }
    }

    .img-close {
        width: 1em;
        position: sticky;
        grid-column: 1;
        top: 0;

        &:hover {
            cursor: pointer;
        }
    }

    .stay-mini-img {
        width: 4em;
        border-radius: 8px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .share-modal-content {
        display: flex;
        flex-direction: column;
        gap: 1.2em;
    }

    .options-container {
        display: flex;
        flex-direction: column;
        gap: 0.8em;

        span {
            font-size: 0.9em;
            margin-block-start: 0.3em;
        }

        div {
            border: 1px solid lightgray;
            border-radius: 9px;
            padding: 1em;
            width: 50%;
            display: flex;
            gap: 1em;
            align-items: center;
        }

        div:hover {
            cursor: pointer;
            background-color: $clr5;
        }
    }
}