.trip-table {
    width: 100%;

    thead {
        tr {
            >* {
                width: 10%;
            }
        }
    }

    tbody {
        tr {
            >* {
                width: 10%;

                &:first-child img {
                    border-radius: 5px;
                    height: 4em;
                    width: 4em;
                }

                &:nth-child(2) img {
                    width: 3.2em;
                    border-radius: 50%;
                }
            }


        }
    }
}