// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.blur {
    position: absolute;
    top: 10.5em;
    left: 0;
    width: 98.6vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4078431373);
    z-index: 1;
}

.focused {
    background-color: #ffffff;
    border-radius: 555px;
    box-shadow: 0 6px 20px rgba(0,0,0,.2);
    /* other styles */
}

.bar-focused {
    background-color: #ebebeb;
}