// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.blur {
    position: fixed;
    top: 9em;
    left: 0;
    width: 100%;
    height: calc(100vh - 9em);
    background-color: rgba(0, 0, 0, 0.4078431373);
    z-index: 1;
}

.focused {
    background-color: #ffffff;
    border-radius: 555px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
    /* other styles */
}

.bar-focused {
    background-color: #ebebeb;
}

.show-contents {
    display: contents;
}

.header-adjust {
    position: relative;
    right: 0.9em;
    width: 19em;
    // border-inline-end: none;
}

// .login-signup-container {
//     position: absolute;
//     top: 4em;
//     right: 2em;
//     background-color: #fff;
//     z-index: 2;
//     font-family: Airbnb_Cereal-Book;
//     box-shadow: 1px 1px 11px 1px #00000014, 0 4px 12px #0000000d;
//     border-radius: 10px;
//     width: 240px;
//     padding: 0.5em;
// }

.trip-table {
    width: 100%;

    thead {
        tr {
            >* {
                width: 10%;
            }
        }
    }

    tbody {
        tr {
            >* {
                width: 10%;

                &:first-child img {
                    border-radius: 5px;
                    height: 4em;
                    width: 4em;
                }

                &:nth-child(2) img {
                    width: 3.2em;
                    border-radius: 50%;
                }
            }


        }
    }
}

.dashboard-table {
    width: 100%;

    thead {
        tr {
            >* {
                width: 10%;
            }
        }
    }

    tbody {
        tr {
            >* {
                width: 10%;

                .accept-btn {
                    background-color: inherit;
                    border: 1px solid;
                    color: #28a745;

                    &:hover {
                        background-color: #28a745;
                        color: #fff;
                    }
                }

                .reject-btn {
                    background-color: inherit;
                    border: 1px solid;
                    color: #dc3545;

                    &:hover {
                        background-color: #dc3545;
                        color: #fff;
                    }
                }

                &:first-child img {
                    width: 3.2em;
                    border-radius: 50%;
                }

                &:nth-child(2) img {
                    border-radius: 5px;
                    height: 4em;
                    width: 4em;
                }

                &:nth-last-child(1) {
                    display: flex;
                    gap: 0.6em;
                }
            }


        }
    }
}