.main-app {
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.main-layout {
    display: grid;
    grid-template-columns: 80px 1fr 80px;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    // @include for-narrow-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
    // }

    // @include for-normal-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    // }

    // @include for-wide-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    // }
}

.details-main-layout {
    display: grid;
    grid-template-columns: minmax(40px, 1fr) minmax(auto, 1115px) minmax(40px, 1fr);

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    // @include for-narrow-layout-details {
    //     grid-template-columns:
    //         minmax(40px, 1fr) minmax(auto, $mobile-breakpoint-details) minmax(40px, 1fr);
    // }

    // @include for-normal-layout-details {
    //     grid-template-columns:
    //         minmax(40px, 1fr) minmax(auto, $narrow-breakpoint-details) minmax(40px, 1fr);
    // }

    // @include for-wide-layout-details {
    //     grid-template-columns:
    //         minmax(40px, 1fr) minmax(auto, normal-breakpoint-details) minmax(40px, 1fr);
    // }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}