.confirm-order-container {
    display: grid;
    column-gap: 6em;
    margin: 0 auto;
    margin-block-start: 4em;
    margin-block-end: 2.4em;
    max-width: em(1100px);
    place-content: center;

    .column2-content {
        .price-details {
            display: flex;
            flex-direction: column;
            border-radius: 0.8em;
            border: 1px solid $clr5;
            padding: 1.5em;

            .price-details-inner-container {
                .nights-price-container {
                    p {
                        color: $clr2;
                        font-size: em(17px);
                        margin-block-end: 0.5em;

                        &:first-child {
                            text-decoration: underline;
                        }
                    }

                    &:last-child {
                        margin-block-end: 1em;
                    }
                }
            }

            div {
                h2 {
                    margin-block-end: 1em;
                }

                > div {
                    margin-block-end: 0.5em;
                }
            }

            .total-price-container {
                border-block-start: 1px solid $clr4;
                padding-block-start: 1.2em;

                p {
                    font-family: Circular-Medium, sans-serif;
                    font-size: em(18px);
                    color: $clr2;
                }
            }
        }

        .price-details {
            .stay-order-details {
                margin-block-end: 1.2em;
                padding-block-end: 1.8em;
                border-block-end: 1px solid $clr4;
                column-gap: 0.9em;

                img {
                    width: 8em;
                    height: 8em;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 0.6em;
                }

                .stay-order-details-content {
                    display: grid;
                    margin: 0;

                    p:nth-child(1) {
                        font-size: em(12px);
                        align-self: start;
                    }

                    p:nth-child(2) {
                        color: $clr2;
                        font-size: em(15.5px);
                        margin-block-start: -30px;
                        align-self: start;
                    }

                    .stay-order-details-content-inner-container {
                        align-self: self-end;
                        margin: 0;
                        column-gap: 0.2em;

                        img {
                            width: 0.7em;
                            height: 0.7em;
                        }

                        span {
                            font-size: em(13.5px);
                            color: $clr2;

                            span {
                                font-size: em(15.5px);
                                color: gray;
                            }
                        }
                    }
                }
            }
        }
    }

    .column1-content {
        h1 {
            margin-block-end: 0.3em;
        }

        h2 {
            margin-block-end: 0.5em;
        }

        .nav-and-h1-container {
            h1 {
                font-size: em(30px);
                font-family: Circular-Regular, sans-serif;
            }

            position: relative;

            a {
                position: absolute;
                left: -0.6em;
                border-radius: 50%;
                width: 1.6em;
                height: 1.6em;
                text-align: center;
                top: -1.8em;
                cursor: pointer;
                font-size: 1.5em;

                &:hover {
                    background-color: $clr5;
                }

                img {
                    width: 0.6em;
                }
            }

            nav:hover {
                background-color: grey;
            }
        }

        .dates-container {
            border-block-end: 1px solid $clr4;
            padding-block-end: 2em;
            margin-block-end: 2em;

            h4 {
                margin-block-end: 0.2em;
            }

            .check-in-date {
                span {
                    margin-inline-end: 0.5em;
                }
            }

            .check-out-date {
                span {
                    margin-inline-end: 0.5em;
                }
            }
        }

        .cancellation-policy {
            margin-block-end: 2em;
            border-block-end: 1px solid $clr4;
            padding-block-end: 2.2em;

            p {
                color: $clr2;
                font-size: em(17px);

                span {
                    font-family: Circular-Medium, sans-serif;
                    font-size: em(17px);
                }
            }
        }

        .ground-rules {
            margin-block-end: 2em;

            p {
                color: $clr2;
                font-size: em(17px);
                margin-block-end: 1em;
            }

            ul {
                margin-inline-start: 2em;

                li {
                    font-family: Circular-Light, sans-serif;
                }
            }
        }
    }

    button {
        padding: 0;
        width: fit-content;
        padding-inline: 1em;
        padding-block: 0.5em;
        border-radius: em(5px);
        font-size: em(24px);
        font-family: Circular-Medium, sans-serif;
        margin-block-start: 1.5em;
    }

    .completed-order {
        margin-block-start: 1em;
        margin-block-end: 3em;
        background-color: $clr5;
        padding: 1em 1.5em;
        border-radius: 1em;
        // column-gap: 1.5em;

        h2 {
            color: $clr2;

            span {
                color: green;
            }
        }

        p {
            color: $clr2;
            font-size: em(17px);
        }

        button {
            padding-inline: 1em;
            margin: 0;
            width: max-content;

            a {
                color: $clr8;
                font-family: Circular-Medium, sans-serif;
                font-size: em(14px);

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@include for-narrow-layout {
    .confirm-order-container {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        column-gap: 6em;
        margin: 0 auto;
        margin-block-start: 2em;
        margin-block-end: 2.4em;
        max-width: em(1100px);
        place-content: center;

        .column2-content {
            .price-details {
                display: flex;
                flex-direction: column;
                border-radius: 0.8em;
                border: 1px solid $clr5;
                padding: 1.5em;

                .price-details-inner-container {
                    .nights-price-container {
                        p {
                            color: $clr2;
                            font-size: em(17px);
                            margin-block-end: 0.5em;

                            &:first-child {
                                text-decoration: underline;
                            }
                        }

                        &:last-child {
                            margin-block-end: 1em;
                        }
                    }
                }

                div {
                    h2 {
                        margin-block-end: 1em;
                    }

                    > div {
                        margin-block-end: 0.5em;
                    }
                }

                .total-price-container {
                    border-block-start: 1px solid $clr4;
                    padding-block-start: 1.2em;

                    p {
                        font-family: Circular-Medium, sans-serif;
                        font-size: em(18px);
                        color: $clr2;
                    }
                }
            }

            .price-details {
                .stay-order-details {
                    margin-block-end: 1.2em;
                    padding-block-end: 1.8em;
                    border-block-end: 1px solid $clr4;
                    column-gap: 0.9em;

                    img {
                        width: 8em;
                        height: 8em;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border-radius: 0.6em;
                    }

                    .stay-order-details-content {
                        display: grid;
                        margin: 0;

                        p:nth-child(1) {
                            font-size: em(12px);
                            align-self: start;
                        }

                        p:nth-child(2) {
                            color: $clr2;
                            font-size: em(15.5px);
                            margin-block-start: -30px;
                            align-self: start;
                        }

                        .stay-order-details-content-inner-container {
                            align-self: self-end;
                            margin: 0;
                            column-gap: 0.2em;

                            img {
                                width: 0.7em;
                                height: 0.7em;
                            }

                            span {
                                font-size: em(13.5px);
                                color: $clr2;

                                span {
                                    font-size: em(15.5px);
                                    color: gray;
                                }
                            }
                        }
                    }
                }
            }
        }

        .column1-content {
            h1 {
                margin-block-end: 1em;
            }

            h2 {
                margin-block-end: 0.5em;
            }

            .nav-and-h1-container {
                h1 {
                    font-size: em(30px);
                    font-family: Circular-Regular, sans-serif;
                }

                position: relative;

                a {
                    position: absolute;
                    left: -1.7em;
                    border-radius: 50%;
                    width: 1.6em;
                    height: 1.6em;
                    text-align: center;
                    top: 0.1em;
                    cursor: pointer;
                    font-size: 1.5em;

                    &:hover {
                        background-color: $clr5;
                    }

                    img {
                        width: 0.6em;
                    }
                }

                nav:hover {
                    background-color: grey;
                }
            }

            .dates-container {
                border-block-end: 1px solid $clr4;
                padding-block-end: 2em;
                margin-block-end: 2em;

                h4 {
                    margin-block-end: 0.2em;
                }

                .check-in-date {
                    span {
                        margin-inline-end: 0.5em;
                    }
                }

                .check-out-date {
                    span {
                        margin-inline-end: 0.5em;
                    }
                }
            }

            .cancellation-policy {
                margin-block-end: 2em;
                border-block-end: 1px solid $clr4;
                padding-block-end: 2.2em;

                p {
                    color: $clr2;
                    font-size: em(17px);

                    span {
                        font-family: Circular-Medium, sans-serif;
                        font-size: em(17px);
                    }
                }
            }

            .ground-rules {
                margin-block-end: 2em;

                p {
                    color: $clr2;
                    font-size: em(17px);
                    margin-block-end: 1em;
                }

                ul {
                    margin-inline-start: 2em;

                    li {
                        font-family: Circular-Light, sans-serif;
                    }
                }
            }
        }

        button {
            padding: 0;
            width: fit-content;
            padding-inline: 1em;
            padding-block: 0.5em;
            border-radius: em(5px);
            font-size: em(24px);
            font-family: Circular-Medium, sans-serif;
            margin-block-start: unset;
        }

        .completed-order {
            margin-block-start: 1em;
            margin-block-end: 3em;
            background-color: $clr5;
            padding: 1em 1.5em;
            border-radius: 1em;
            // column-gap: 1.5em;

            h2 {
                color: $clr2;

                span {
                    color: green;
                }
            }

            p {
                color: $clr2;
                font-size: em(17px);
            }

            button {
                padding-inline: 1em;
                margin: 0;
                width: max-content;

                a {
                    color: $clr8;
                    font-family: Circular-Medium, sans-serif;
                    font-size: em(14px);

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
