.confirm-order-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    margin: 0 auto;
    margin-block-start: 5em;
    max-width: em(1280px);
    place-content: center;

    .column2-content {
        .price-details {
            display: flex;
            flex-direction: column;
            border-radius: .8em;
            border: 1px solid $clr5;
            padding: 1.5em;

            div {
                h2 {
                    margin-block-end: 1em;
                }

                >div {
                    margin-block-end: .5em;
                }
            }

            .total-price-container {
                p {
                    font-family: Circular-Medium, sans-serif;
                    font-size: em(18px);
                    color: $clr2;
                }
            }
        }
    }

    .column1-content {
        h1 {
            margin-block-end: 1em;
        }

        h2 {
            margin-block-end: .5em;
        }

        .dates-container {
            h4 {
                margin-block-end: .2em;
            }

            .check-in-date {
                span {
                    margin-inline-end: .5em;
                }
            }

            .check-out-date {
                span {
                    margin-inline-end: .5em;
                }
            }
        }
    }
}