.stay-index-container {

    .stay-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 25px;


        .stay-preview {
            margin-block-end: 1em;

            &:hover {
                cursor: pointer;

                .carousel-wrapper {
                    position: relative;

                    .btn-carousel-left {
                        opacity: 0.9;
                    }

                    .btn-carousel-right {
                        opacity: 0.9;
                    }
                }
            }

            .img-preview {
                width: 100%;
                height: 100%;
                aspect-ratio: 1/.95;
                object-fit: cover;
            }

            p:nth-child(3) {
                color: $clr7;
                font-family: Circular-Light, sans-serif;
                font-size: em(15px);
            }

            p:nth-child(4) {
                color: $clr7;
                font-family: Circular-Light, sans-serif;
                font-size: em(15px);
            }

            p:nth-child(5) {
                font-family: Circular-Light, sans-serif;
                margin-block-start: .2em;
                color: $clr2;

                span {
                    font-family: Circular-Bold;
                }
            }

            .carousel-wrapper {
                position: relative;
                margin-block-end: .8em;

                .dislike {
                    position: absolute;
                    top: em(15px);
                    right: em(15px);
                    width: 1.5em;
                }

                .like {
                    position: absolute;
                    top: em(15px);
                    right: em(15px);
                    width: 1.5em;
                }

                .carousel-slider {
                    border-radius: .8em;

                    .control-dots {
                        .dot {
                            width: em(6.6px);
                            height: em(6.6px);
                            margin: 0 em(3px);
                        }
                    }

                    .carousel-status {
                        display: none;
                    }
                }


                .btn-carousel-left {
                    position: absolute;
                    top: 44%;
                    left: 1em;
                    background-color: $clr8;
                    color: $clr3;
                    border-radius: 50%;
                    padding-inline: 0.8em;
                    padding-block: 0.4em;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    width: 2em;
                    height: 2em;
                    scale: 101%;

                    &:hover {
                        scale: 103%;
                        opacity: 1;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    }

                    img {
                        scale: 210%;
                        width: 100%;
                        height: 100%;
                    }
                }

                .btn-carousel-right {
                    position: absolute;
                    top: 44%;
                    right: 1em;
                    background-color: $clr8;
                    color: $clr3;
                    border-radius: 50%;
                    padding-inline: 0.8em;
                    padding-block: 0.4em;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    width: 2em;
                    height: 2em;
                    scale: 101%;

                    &:hover {
                        scale: 103%;
                        opacity: 1;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    }

                    img {
                        scale: 210%;
                    }
                }
            }

            .location-rating-container {
                .rating-container {
                    img {
                        width: 0.8em;
                        margin-block-end: 0.25em;
                        margin-inline-end: 0.2em;
                    }

                    span {
                        font-family: Circular-Light, sans-serif;
                        font-size: em(15px);
                    }

                    h4 {
                        font-size: em(15px);
                    }
                }
            }
        }
    }
}