.stay-index-container {


    .stay-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 25px;
        margin-block-start: 2em;
        margin-block-end: 2em;

        .stay-preview {

            &:hover {
                cursor: pointer;
            }

            .img-preview {
                border-radius: .8em;
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                margin-block-end: 1em;
            }

            p:nth-child(3) {
                color: $clr7;
                font-family: Circular-Light, sans-serif;
                margin-block-start: .1em;
            }

            p:nth-child(4) {
                font-family: Circular-Light, sans-serif;
                margin-block-start: .2em;

                span {
                    font-family: Circular-Bold;
                }
            }
        }

    }

}