@font-face {
    font-family: Circular-Regular;
    src: url(../fonts/Circular/CircularStd-Book.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../../../../../frontend/src/assets/styles/fonts/Roboto/Roboto-Regular.ttf);
}

// @font-face {
//     font-family: montserrat;
//     src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }