// Colors
$clr1: #ff385c;
$clr2: #222222;
$clr3: #000000;
$clr4: #dddddd;
$clr5: #ebebeb;
$clr6: #3d3d3d;
$clr7: #717171;
$clr8: #ffffff;
$clr9: #bebebe;

// Breakpoints
$mobile-breakpoint: 1060px;
$narrow-breakpoint: 1170px;
$normal-breakpoint: 1400px;

// Breakpoints - details page
$mobile-breakpoint-details: 700px;
$narrow-breakpoint-details: 1120px;
$normal-breakpoint-details: 1200px;

// Skeleton
$skeleton-clr1: hsl(0, 0%, 93%);
$skeleton-clr2: hsl(0, 0%, 89%);
